.todoList_container{
    border: 1px solid #dddddd;
    border-radius: 10px;
    margin: 20px;
    padding: 30px;
    width: 40%;
   
}

.disableInput{
    width: 10rem;
}

.flex_Container{
    border: 1px solid #dddddd;
    border-radius: 5px;
    
}

.redColor{
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    background-color: red;
    padding: 7px;
    color: white;
}

.yellowColor{
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    background-color: yellow;
    padding: 7px;
}

.orangColor{
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    background-color: orange;
    padding: 7px;
}

.greenColor{
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    background-color: green;
    padding: 7px;
    color: white;
}
